:root{
    --article-bg-color: rgb(201, 201, 201);
}

.article_main{
    font-family: 'Lora', serif;
    font-size: 14pt;
    width: 100%;
    background-color: var(--article-bg-color);
    padding-bottom: 100px;
    border-bottom: 10px solid var(--article-bg-color);
}

.article_main_div h1{
    font-weight: normal;
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0;
    margin-top: 5px;
}

.article_main_img {
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 600px;
    
}

.social_media{
    margin-top: 25px;
}

.article_main_div{
    width: 95%;
    background-color: var(--article-bg-color);
    margin: auto;
    max-width: 600px;
}

#content{
    text-align: justify;
}

.article_main_div p {
    text-indent: 20px;
}

#article_date{
    width: 100%;
    color: rgb(77, 77, 77);
    text-align: right;
    margin-bottom: 20px;
}

#next_article{
    width: 200px;
    height: 50px;
    background-color: #1F2833;
    color: white;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    float: right;
}

#next_article:hover{
    cursor: pointer;
    background-color: rgb(20, 26, 34);
}