:root {
    --main-color: #313842;
    --main-font: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  
  li {
    float: left;
    font-size: 18px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 30px;
    line-height: 100px;
    text-decoration: none;
    font-family: var(--main-font);
  }
  
  li a:hover {
    text-decoration: underline;
    color: white;
  }

  nav{
      width: 80%;
      height: 100px;
      min-width: 800px;
      background-color: var(--main-color);
      margin: auto;
  }

  nav img {
      height: 80px;
      margin-top: 10px;
      margin-left: 10px;
      float: left;
  }

  .cyrio_main{
      width:80%;
      min-width: 800px;
      height: calc(100vh - 300px);
      margin: auto;
/*      background-color: red; */
  }

  .cyrio_lastFive{
    height: calc(100vh - 320px);
    width: 50%;
    float: left;
    padding-top: 40px;
  }

  .cyrio_preview{
    height: calc(100vh - 320px);
      width: 50%;
      float: left;
  }

  #actualPreviewTitle{
    margin: 0;
    text-align: center;
    size: 24px;
    font-family: var(--main-font);
  }

  .cyrio_lastFive p{
    float: right;
    color: black;
    size: 16px;
  }

  .previewImage {
      width: 100%;

      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
  }
         
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
         
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
         
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }



  footer{
    width: 80%;
    min-width: 800px;
    height: 200px;
    margin: auto;
    background-color: var(--main-color);
  }

  #lastFiveHolder div {
      width: 90%;
      max-width: 400px;
      margin-top: 1vh;
      margin-left: 10%;
      height: 8vh;
      background-color: var(--main-color);
      text-align: center;
      line-height: 8vh;
      font-size: 16pt;
      font-family: var(--main-font);
      
      color: white;
  }

  #lastFiveHolder div:hover{
    cursor: pointer;
    font-weight: bold;
  }